*.wav filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.spin -text
*.RAW text !filter !merge !diff
*.VU text !filter !merge !diff
*.gif text !filter !merge !diff
*.png text !filter !merge !diff
*.wav text !filter !merge !diff
