*.wav -text !filter !merge !diff
*.raw -text !filter !merge !diff
*.RAW -text !filter !merge !diff
*.VU  -text !filter !merge !diff
*.png -text !filter !merge !diff
*.gif -text !filter !merge !diff
*.spin -text
